.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 2rem;
  font-family: "Nanum Gothic", sans-serif;
}

.container div:first-child {
  animation-delay: 0s; /* 첫 번째 h1에 즉시 실행 */
}

.container div:nth-child(2) {
  animation-delay: 0.5s; /* 두 번째 h1에 0.5초 딜레이 */
}

.container div:nth-child(3) {
  animation-delay: 1s; /* h2에 1초 딜레이 */
}

.AboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
}
.myphoto {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 6rem;
}

.Education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;

  border-bottom: 1px solid #e5e5e5;
}

.period {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.stack_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container {
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 0.9rem;
  }
  .AboutMe {
    flex-direction: row;
    gap: 2rem;
  }
  .myphoto {
    width: 6rem;
  }
  .Education {
    gap: 1rem;
  }
  .period {
    gap: 1rem;
  }
  .stack {
    gap: 0.3rem;
  }
}
