.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 0 1rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    gap: 8rem;
  }

  .nav-bar {
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .header {
    gap: 2rem;
    font-size: 0.8rem;
  }

  .nav-bar {
    gap: 0.5rem;
  }
}
